.titulo {
    text-align: center;

}

.autores-desc {
    display: flex;
    width: fit-content;
    height: fit-content;

}


.autores div {
    display: flex;

}


.jose {
    
    display: flex;
    color: red ;

}


.sergio {
    display: flex;
    color: red ;

}

.bea{
    display: flex;
    color: red ;

}

.descripcion{
    border: red solid;
    padding-left: 15px ;
    background-color: salmon;


}


.visor {


}


.aplicaciones {

}

img{
    height: 100px;
    width: 100px;
    margin: 15px;
}
